{% extends 'mailing/base_template.html' %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}

<div class="container mt-5">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                Войти
            </button>
            
        </form>
<div class="btn-group mt-5">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'users:password_reset' %}" role="button">Забыл пароль</a>

                </div>
    </div>


{% endblock %}
