{% extends 'mailing/base_template.html' %}

{% block title %}Главная страница {% endblock %}

{% block content %}



<div class="container">



        <div class="container mt-3">
            <h1 class="my-0 font-weight-normal text-center">Общая информация по рассылкам</h1>
            <h4 class="my-0 font-weight-normal mt-3">Количество всех рассылок: {{mailing_all|length}}</h4>
            <h4 class="my-0 font-weight-normal mt-3">Количество активных рассылок: {{mailing_active|length}}</h4>
            <h4 class="my-0 font-weight-normal mt-3">Количество уникальных получателей: {{recipients_all|length}}</h4>

        </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <div class="container mt-5">
        <div class="btn-group">
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:send_mail_active' %}" role="button">Отправить активные рассылки</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:send_mail_created' %}" role="button">Отправить созданные рассылки</a>


        </div>
    </div>
</div>
{% endif %}



{% endblock %}